@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<NavLink href="/medications" class="nav-link">Medications</NavLink>
<NavLink href="/notifications" class="nav-link">Notifications</NavLink>
<NavLink href="/counter" class="nav-link">Counter</NavLink>
<NavLink href="/fetchdata" class="nav-link">Fetch data</NavLink>
<NavLink href="/weatherforecast" class="nav-link">Weather forecast</NavLink>
<NavLink href="/medication-dispenser" class="nav-link">Medication Dispenser</NavLink>
