@page "/Scanner"
@rendermode InteractiveServer
@inject CameraService CameraService

<h1>Camera Scanner</h1>

<div class="mb-4">
    <img src="@cameraSrc" width="480" height="360" class="mb-2 border" />
    <button class="btn btn-secondary" @onclick="RefreshCamera">Vernieuw Camerabeeld</button>
</div>

@code {
    private string cameraSrc = "";

    protected override async Task OnInitializedAsync()
    {
        await RefreshCamera();
    }

    private async Task RefreshCamera()
    {
        try
        {
            var base64 = CameraService.GetJpegFrameBase64();
            cameraSrc = !string.IsNullOrEmpty(base64)
            ? $"data:image/jpeg;base64,{base64}"
            : "";
        }
        catch
        {
            cameraSrc = "";
        }
        StateHasChanged();
        await Task.CompletedTask;
    }
}
