<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <div class="nav-item">
                <NavLink class="nav-link" href="/">
                    🏠 Home
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/Compartments">
                    📦 Compartments
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/Logbook">
                    📋 Logbook
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/Refill">
                    💊 Refill
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/Configure">
                    ⚙️ Configure
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/Stock">
                    📦 Stock
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/Test">
                    🧪 Test
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="/About">
                    ℹ️ About
                </NavLink>
            </div>


        </div>
    </nav>
</div>
